<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>BrainBoard</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap@4.6.0/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@2.21.2/dist/bootstrap-vue.min.css" />
  <link rel="stylesheet" href="styles/core.css" />

  <script src="//polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver" crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@2.21.2/dist/bootstrap-vue.min.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@2.21.2/dist/bootstrap-vue-icons.min.js"></script>
  <script src="https://unpkg.com/http-vue-loader"></script>

  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/sankey.js"></script>
  <script src="https://code.highcharts.com/modules/dependency-wheel.js"></script>
  <script src="https://code.highcharts.com/modules/series-label.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/highcharts-vue@1.3.5/dist/highcharts-vue.min.js" integrity="sha256-hKFRfQ9p+dJzRUsmFn8f7lv3t44kUbyKGRdU+1FZ4DM=" crossorigin="anonymous"></script>

  <script src="scripts/core.js"></script>
  <script src="scripts/mixins.js"></script>
</head>

<body>

  <div id="app" v-cloak>
    <b-navbar type="dark" variant="danger" sticky>
      <b-navbar-brand href="#">BrainBoard</b-navbar-brand>
      <b-navbar-nav>
        <b-nav-item-dropdown ref="params" text="Parameters">
          <b-dropdown-form form-class="nav-params" @mouseleave="$refs.params.visible = false;">
            <b-form-group label="Connectivity Threshold">
              <b-form-radio v-model="threshold_type" name="threshold-type" value="percentage">Percentage</b-form-radio>
              <b-form-radio v-model="threshold_type" name="threshold-type" value="count">Count</b-form-radio>
            </b-form-group>
            <b-form-group label-for="threshold">
              <b-input-group v-if="threshold_type === 'percentage'" size="sm">
                <b-form-input id="threshold" size="sm" v-model="threshold" type="range" min="0" max="1000"></b-form-input>
                <b-input-group-append>
                  <b-input-group-text>
                    {{(computedThreshold * 100).toFixed(1)}}%
                  </b-input-group-text>
                </b-input-group-append>
              </b-input-group>
              <b-form-spinbutton v-else-if="threshold_type === 'count'" size="sm" v-model="threshold" min="1" :max="connection_list.length"></b-form-spinbutton>
            </b-form-group>
          </b-dropdown-form>
        </b-nav-item-dropdown>
      </b-navbar-nav>
      
      <b-sidebar v-model="show_source" title="Data Source" width="350px" right shadow backdrop>
        <div class="px-3 py-2">
          <p>
            Examples #2 and #3 included in BrainBoard are generated using subject data from the Alzheimer's Disease Neurimaging Initiative 3 (<a href="http://adni.loni.usc.edu/">ADNI3</a>) dataset<sup>1</sup>. 
            The fMRI image for the baseline scan of subject <code>168_S_6320</code> is minimally preprocessed using <code>fMRIPrep</code><sup>2</sup>. 
            The resulting data is reconstructed, parcellated into the Schaefer100x7 and Harvard-Oxford atlases and then exported using a custom Python script
            utilising functionality provided by the <code>Nilearn</code><sup>3</sup> Python package. 
          </p>
        </div>
        <div class="px-3 py-2" style="position: absolute; bottom:0; font-size: 12px;">
          <h5>References</h5>
          <div class="pb-1">
            [1] Mueller, S. G., Weiner, M. W., Thal, L. J., Petersen, R. C., Jack, C., Jagust, W., ... & Beckett, L. (2005). 
            The Alzheimer’s disease neuroimaging initiative. Neuroimaging Clinics of North America, 15(4), 869.
          </div>
          <div class="pb-1">
            [2] Esteban, O., Markiewicz, C. J., Blair, R. W., Moodie, C. A., Isik, A. I., Erramuzpe, A., ... & Gorgolewski, K. J. (2019). 
            fMRIPrep: a robust preprocessing pipeline for functional MRI. Nature methods, 16(1), 111-116.
          </div>
          <div class="pb-1">
            [3] Abraham, A., Pedregosa, F., Eickenberg, M., Gervais, P., Mueller, A., Kossaifi, J., ... & Varoquaux, G. (2014). 
            Machine learning for neuroimaging with scikit-learn. Frontiers in neuroinformatics, 8, 14.
          </div>
        </div>
      </b-sidebar>

      <b-navbar-nav class="ml-auto">
        <label class="mb-0 nav-link clickable" class="">
          Upload Data
          <input type="file" style="position: fixed; top: -100em">
        </label>
        <b-nav-item-dropdown text="Examples" right>
          <b-dropdown-item @click="load('data/simple.json')">Example #1 (Simple)</b-dropdown-item>
          <b-dropdown-item @click="load('data/harvard.json')">Example #2 (Harvard Oxford)</b-dropdown-item>
          <b-dropdown-item @click="load('data/schaefer100.json')">Example #3 (Schaefer100x7)</b-dropdown-item>
          <b-dropdown-item @click="show_source = true;">View Source</b-dropdown-item>
        </b-nav-item-dropdown>
      </b-navbar-nav>
    </b-navbar>

    <div class="row no-gutters p-1">
      <div class="col-5 col-lg-3" style="z-index: 10;">
        <div>
          <div class="px-1 pb-1" style="position:absolute; background-color: black; color: white;">Orthographic Projection</div>
          <ortho :regions="regions" 
                 :connections="connections" 
                 :region-names="region_names" 
                 :n-neighbours="regionNeighbours" 
                 :sorted-regions="sortedRegions">
          </ortho>
        </div>
      </div>
      <div class="col-7 col-lg-4">
        <div class="row no-gutters">
          <div class="col-12" style="height: calc(0.65 * (100vh - 56px));">
            <div class="px-1 pb-1" style="position:absolute; background-color: black; color: white; z-index: 10;">Connectivity Wheel</div>
            <connectivity :connections="connections" 
                          :region-names="region_names" 
                          :n-neighbours="regionNeighbours">
            </connectivity>
          </div>
          <div class="col-12" style="height: calc(0.33 * (100vh - 56px));">
            <div class="px-1 pb-1" style="position:absolute; background-color: black; color: white; z-index: 10;">Region Timeseries</div>
            <timeseries :connections="connections" 
                        :region-timeseries="timeseries" 
                        :region-names="region_names"
                        :sorted-regions="sortedRegions">
            </timeseries>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-5">
        <tables :regions="regions" :connections="connections" :region-names="region_names" :networks="networks" :n-neighbours="regionNeighbours" :sorted-regions="sortedRegions"></tables>
      </div>
    </div>
  </div>

  <script>
    const loader = window.httpVueLoader;

    var app = new Vue({
      el: '#app',
      components: {
        'ortho': loader('components/ortho/ortho.vue'),
        'connectivity': loader('components/connectivity.vue'),
        'timeseries': loader('components/timeseries.vue'),
        'tables': loader('components/tables.vue')
      },
      data: {
        connectivity_worker: null,

        timeseries: [],
        connectivity: [],
        regions: [],
        region_names: [],

        connection_list: [],
        threshold_type: 'count',
        threshold: 15,
        // percentage_threshold: 282,
        file: null,
        
        show_source: false,
        loading: false
      },
      computed: {
        connections() {
          let keep = 0;
          if (this.connection_list.length > 0) {
            
            if (this.threshold_type === 'percentage') keep = Math.floor(this.connection_list.length * this.computedThreshold);
            else if (this.threshold_type === 'count') keep = this.threshold;

            // console.log(this.positiveConnections.slice(0, keep));
            return this.connection_list.slice(0, keep);
          }
          return [];
        },
        regionNeighbours() {
          let counts = new Map();
          this.connections.forEach(e => {
            counts.set(e.region1, counts.has(e.region1) ? counts.get(e.region1) + 1 : 1);
            counts.set(e.region2, counts.has(e.region2) ? counts.get(e.region2) + 1 : 1);
          });

          return counts;
        },
        /**
         * Returns a list of giving the proper sort order index of the corresponding region index
         */
        sortedRegions() {
          let sorted_regions = [...this.regions.keys()];
          let unsorted_regions = new Set([...this.regions.keys()]);
          sort_index = 0;
          for (let e of this.connection_list) {
            if (unsorted_regions.has(e.region1)) {
              sorted_regions[e.region1] = sort_index++;
              unsorted_regions.delete(e.region1);
            }
            if (unsorted_regions.has(e.region2)) {
              sorted_regions[e.region2] = sort_index++;
              unsorted_regions.delete(e.region2);
            }

            if (unsorted_regions.size === 0) break;
          }

          return sorted_regions;
        },
        computedThreshold() {
          if (this.threshold_type === 'percentage') {
            return this.thresholdYfromX(this.threshold);
          }
        },
        networks() {
          let networks = [];
          this.connections.forEach(c => {
            let in_networks = [];             // list of networks this connection appears in (for network merging)
            networks.forEach((n, i) => {
              if (n.has(c.region1) || n.has(c.region2)) {
                in_networks.push(i);
                n.add(c.region1);
                n.add(c.region2);
              }
            });

            if (in_networks.length === 0) {
              let new_network = new Set([c.region1, c.region2]);
              // console.log(new_network);
              networks.push(new_network);
            }
            else if (in_networks.length > 1) {
              // for each containing set other than the first (iterate backwards)
              // console.log('merge networks');
              for (let i = in_networks.length - 1; i > 0; i--) {
                networks[in_networks[i]].forEach(r => networks[in_networks[0]].add(r));       // merge containing set into first
                networks.splice(in_networks[i], 1);                                           // remove containing set
              }
            }
          });

          networks = networks.filter(e => e.size > 2);
          return networks;
        }
      },
      methods: {
        load(file) {
          console.log('loading');
          this.loading = true;
          fetch(file)
            .then(res => res.json())
            .then(data => {
              this.timeseries = data.timeseries;
              this.connectivity = data.connectivity;
              this.regions = data.regions;
              this.region_names = data.region_names;
              if (data.threshold < 1) {
                this.threshold_type = 'percentage';
                this.threshold = this.thresholdXfromY(data.threshold);
              }
              else {
                this.threshold_type = 'count';
                this.threshold = data.threshold;
              }
              
              console.log('loaded');
            });
        },
        thresholdXfromY(y) {
          let x = Math.log(-(-3.9398*y - 0.037978) / 0.077376) / 3.9398;
          return x * 1000;
        },
        thresholdYfromX(x) {
          let y = 0.01 - (-0.07737624/-3.939799)*(1 - Math.exp(+3.939799*(x / 1000)));
          return y;
        },
        initConnectivityWorker() {
          this.connectivity_worker = new Worker('workers/calculateConnectivity.js');
          this.connectivity_worker.onmessage = (e => { 
            this.connection_list = e.data; 
            this.loading = false; 
          }).bind(this);
        },
        destroyConnectivityWorker() {
          this.connectivity_worker.terminate();
        }
      },
      created() {
        this.initConnectivityWorker();
        this.load('data/harvard.json');
      },
      beforeDestroy() {
        this.destroyConnectivityWorker();
      },
      watch: {
        /**
         * If new connectivity matrix is loaded then start web worker to parse connections in background
         */
        connectivity(connectivity) {
          this.connectivity_worker.postMessage(connectivity);
        },
        /**
         * If the threshold type is changed then retain the desired number of connections by coercing the 
         * percentage into the equivalent count.
         */
        threshold_type(newValue) {
          console.log(newValue, this.loading);
          if (!this.loading) {      // if loading dont try to coerce threshold
            if (newValue === 'percentage') this.threshold = this.thresholdXfromY(this.threshold / this.connection_list.length);
            if (newValue === 'count') this.threshold = this.thresholdYfromX(this.threshold) * this.connection_list.length; 
          }
        }
      }
    })
  </script>

</body>

<style>
.nav-params {
  width: 300px;
}
</style>
</html>

